.welcomeMessage {
    font-size: 1.7rem;
}

.explanationBox {
    padding: 20px 3%;
    margin: 15px 3%;
}

.howtouseWrapper {
    position: relative;
    min-height: 100%;
}

.howtouseBodyWrapper {
    padding-bottom: 5rem;
}